header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header * {
    text-align: end;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.recherche {
    margin-right: 60px;
    display: flex;
    align-items: center;
}

.recherche * {
    text-align: justify;
    padding: 3px;
}

.logout {
    text-align: center;
}
.logout * {
    padding: 3px;
}

.logo {
    display: flex;
    padding: 0;
}

.logo * {
    height: 70px;
}


.menu-principal {
    position: fixed;
    padding: 15px;
    right: 0;
    top: 0;
    transition: 0.3s;
    height: 40px;
    width: 40px;
    overflow: hidden;
}

.menu-principal > p {
    transition: 0s;
    position:absolute;
    opacity: 0%;
    left: 0%;
    top: 0;
    margin: 20px;
}

.menu-principal:hover > p {
    position:absolute;
    opacity: 100%;
    left: 0;
    top: 0;
}
/*
.menu-principal * {
    transition: 0.3s;
}*/

.menu-principal:hover {
    background-color: #ccc;
    height: fit-content;
    width: fit-content;
}

.menu-principal ul {
    display: flex;
    flex-direction: column;
}

.menu-principal ul li {
    margin: 5px;
}

.menu-principal ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}