body{
    z-index: 0;
    background-color: #fff;
    padding: 0px;
}
body *{
    /*border: 1px solid red;/*Affiche toutes les boîtes, permet de bien régler les règles css*/
    font-family: 'Open Sans', sans-serif;
}
ul *{
    padding: 0;
    margin: 0;
    list-style-type: none;/**/
}
a{
    text-decoration: none;
    color: #f00;
    transition: 0.3s;
}
a:hover {
    color: #f80;
}
table{
    border: 3px solid #000;
}
table * {
    margin: 0px;
    padding: 10px;
    text-align: center;
}
thead *{
    border: 2px solid #000;
}
tbody *{
    border: 1px solid #000;
}